<<<<<<< HEAD
<p><%= @user.username %></p>
<p><%= @user.email %></p>
<% unless @user.avatar.attachment.nil? %>
	<%= image_tag @user.avatar %>
<% else %>
	<img src="http://www.personalbrandingblog.com/wp-content/uploads/2017/08/blank-profile-picture-973460_640-300x300.png">
<% end %>
<%= link_to "Edit", edit_user_path %>
<%= link_to "Delete", user_path(@user), 
					  method: :delete,
					  data: {confirm:'Are you sure you want to delete your profile?'} %>
=======
<h1><%= @user.username %></h1>
<h2><%= @user.email %></h2>

<% unless @user.avatar.attachment.nil? %>
	<%= image_tag @user.avatar %>
<% else %>
	<img src="https://www.bsn.eu/wp-content/uploads/2016/12/user-icon-image-placeholder-300-grey.jpg">
<% end %>
>>>>>>> upstream1/master
